/PiggyBank/piggybank.client/node_modules
/PiggyBank/piggybank.client/obj
/PiggyBank/.vs
/PiggyBank/PiggyBank.Server/bin
/PiggyBank/PiggyBank.Server/obj
/PiggyBank/PiggyBank.Server/Properties/PublishProfiles
/PiggyBank/PiggyBank.Server/Properties/ServiceDependencies